.hero-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  width: 100%;
}

.hero-content {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.hero-image {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
}

.hero-title {
  margin-top: 40px;
  font-size: 2.3rem;
  font-weight: 600;
}

.hero-subtitle {
  font-size: 1rem;
  margin-top: 10px;
  color: rgb(80, 80, 80);
}

.hero-btn {
  margin-top: 25px;
  padding: 12px 32px;
  background-color: #387ed1;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1.15rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #1c70d3;
}
